<h1>New message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>

  <%= f.hidden_field :sent_user %>
  <%= f.hidden_field :read %>

  

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>
