<h1>Welcome <%= current_user.login %></h1>
<p>This is your Dashboard for everything m4tc.</p>
<p>Here you'll find the music, that you entered and your Inbox/Outbox. 
	You will notice, that there is no "Send Message"-Button. Mails can 
	only be sent while searching for music (sending to the owner of a title) or
	 in reply to an existing email.</p>
<hr />
<h2>Message Center</h2>
Here are the messages, that travelled inside music 4 the classes. 
<table>
  <tr>
	<% if @inbox %>
  	<td>
  		<h4>Inbox</h4>
		<table>
		  <tr>	
		    <th>Sender</th>
		    <th>Text</th>
		    <th>Status</th>
		  </tr>
		    <% @messages = @inbox %>
		    <%= render :partial => "messages/inbox" %>
  	    </table>
    </td>
    <% end %>
    <% if @outbox %>
  	<td>
  		<h4>Outbox</h4>
		<table>
		  <tr>	
		    <th>Receiver</th>
		    <th>Text</th>
		    <th>Status</th>
		  </tr>
		    <% @messages = @outbox %>
		    <%= render :partial => "messages/outbox" %>
  	    </table>
    </td>
    <% end %>
  </tr>
</table>
<hr />
<h3>Listing your pieces</h3>
<p>These are the pieces of music, you entered into our sytem. In most cases, you will own this particular piece of music.</p>

<table>
    <tr>
      <th>Notes</th>
      <th>Interpret</th>
      <th>Title</th>
      <th>Category</th>
    </tr>
    <% if @pieces %>
      <%= render :partial => 'pieces/list' %>
    <% else %>
      <i>There are no pieces jet</i><br />
    <% end %>
</table>
<p>TT = search transitive Taste, ET = search Equal Taste</p>
<br />
<%= link_to 'New piece', new_piece_path %>