<% for title in @titles %>
  <tr>
    <td><%=h title.name %></td>
    <td align="right"><%=h title.occurences %></td>
	<% if current_user.role=="Admin" %>
      <td><%= link_to 'Show', title %></td>
      <td><%= link_to 'Edit', edit_title_path(title) %></td>
      <td><%= link_to 'Destroy', title, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>