<h1>Editing interpret</h1>

<% form_for(@interpret) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @interpret %> |
<%= link_to 'Back', interprets_path %>
